html{
  scroll-behavior: smooth;
}
body,*{
  font-family: arabic !important;
  font-size: 17px;
}
.css-ufm59s{
  min-width:unset !important;
}
@font-face {
  font-family: arabic;
  src: url("./assets/arabicMain.ttf");
}
@font-face {
  font-family: en;
  src: url("./assets/fontMain.ttf");
}